name: барсик

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Барсик кот
        run: echo привет мир
      - name: кот
        run: timeout /t 10 /nobreak >nul
